.{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
}
 body {

}
git config --global user.email "carlosviray2004@gmail.com"
git config --global user.name "viray-carlos-miguel"