

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url(img/pexels-danielabsi-952670.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:rgb(58, 43, 24);
  text-align: center;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 800px;
  text-align: left;
}

.description {
  font-size: 100px;
<<<<<<< HEAD
  margin-bottom: 20px; 
  font-size: 20px;
  color:antiquewhite;
  max-width: 80%; 
  word-wrap: break-word; 
  line-height: 1.5; 
=======
  margin-bottom: 20px; /* Space between the paragraph and button */
  font-size: 20px; /* Set the font size */
  color:rgb(94, 60, 17); /* Set the text color */
  max-width: 80%; /* Optional: Prevents the paragraph from becoming too wide */
  word-wrap: break-word; /* Ensures long words wrap if necessary */
  line-height: 1.5; /* Optional: Adjust line height for readability */
>>>>>>> f667de370f6b82ff77d23569ef790389edd249da
  align-items: center;
}

.btn {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}
.title{
  text-align: start;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.navbar-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: #575757;
}